<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>createPost</title>
</head>
<body>
<div class="container">
    <form action="/posts/new" method="post">
        <div class="form-group">
            <label>제목</label>
            <input type="text" name="title" placeholder="제목을 입력하세요">
            <label>내용</label>
            <input type="text" name="contents" placeholder="내용을 입력하세요">
            <label>email</label>
            <input type="text" name="email" placeholder="내용을 입력하세요">
        </div>
        <button type="submit">등록</button>
    </form>

</div>

</body>
</html>