<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th>제목</th>
                <th>저자</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post : ${posts}">
                <td th:text="${post.title}"></td>
                <td th:text="${post.email}"></td>
                <td><a th:href="@{'posts/findById?id=' + ${post.id}}">상세보기</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>